<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body>
  <%- include('partials/_header') %>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Welcome to TinyApp!</h1>
        <p class="lead">TinyApp can take any standard URL and shorten it into a unique tiny URL that is perfect for posting on your social media page</p>
        <hr class="my-4">
        <p>Sign-up now for your free account! Already have an account? <a href="/login">Log-in!</a></p>
        <a class="btn btn-success btn-lg" href="/register" role="button">Sign-up</a>
      </div>
    </div>